.avfr-modal {
    position:fixed;
    top:0;
    z-index: 999999;
    pointer-events: none;
    &:before {
        content: ""; 
        display: none;
        background-color: transparent;
        opacity: 0;
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
    }

    &:target {
        pointer-events: auto;
        @include transition(all 3s);

        &:before{
            display: block;
            background-color: rgba(0,0,0,0.6);
            opacity: 1;
            @include transition(all 3s);
        }

        .avfr-modal-dialog {
            @include transform(scale(1));
            @include transform-origin(50% 50%, false); 
            top: 0;
            z-index: 999999;
            height: 100%;
        }

        html{
            overflow: hidden;
        }

    }

    * {
        @include box-sizing(border-box);
    }

    .form-input-group {
        margin: $input-margin;
    }

    label {
        display:block;
        margin:15px auto 5px;
        font-weight:bold;
    }

    input[type="text"],
    textarea {
        width: 100%;
        height: 30px;
        padding: 6px 10px;
        font-size: $input-font_size;
        line-height: $input-font_lineheight;
        color: $input-color;
        background-color: $input-bg;
        border: $br-width solid $input-border;
        @include border-radius($br-rad);
        @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

        &:focus {
            border:$br-width solid $blue !important;
            box-shadow:none;
            outline:none;
        }

    }

    input[type=submit]:disabled,
    button:disabled {
        opacity:0.4;
    }

    #avfr-entryform-description {
        min-height: 100px !important;
    }

}

.avfr-modal-dialog {
    position: fixed;
    left: 0;
    right: 0;
    top: -100%; 
    z-index: 999999;
    @include transform(scale(0) );
    @include transform-origin(50% 0, false);
    @include transition(top 0s, transform 0.3s ease-in-out);
}

.avfr-modal-content {
    position: relative;
    background-color: $modal-content-bg;
    border: $br-width solid $modal-content-border-color;
    @include border-radius($modal-border-radius);
    @include box-shadow(0 3px 9px rgba(0,0,0,.5));
    background-clip: padding-box;
    outline: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    max-height: 820px;
}

.avfr-modal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: $modal-backdrop-bg;

    &.fade { 
        opacity: 0;
    }

    &.in {
        opacity: $modal-backdrop-opacity;
    }

}

.avfr-modal-header {
    padding: $modal-title_padding-ver $modal-title_padding ;
    border-bottom: 1px solid $modal-header-border-color;
    min-height: ($modal-title_padding + $modal-title-line-height);

    h3 {
        margin: 0;
        line-height: 1.5;
    }

}

.avfr-modal-title {
	margin: 0;
	line-height: $modal-title-line-height;
    clear: none;
}

.avfr-modal-body {
    position: relative;
    padding: $modal-innerpadding;
    height: calc(100% - 64px);
    overflow: auto;
}

.text-wrap {
   width: 100% !important;

   #tags-data-list {
    height: 28px;
    width: 100% !important;
    min-height: 28px;
    line-height: 1;
    @include border-radius($br-rad);
    border-color: $input-border;
    padding: 6px 0 20px 8px;
    }

    .text-remove{
        top:4px !important;
    }

}

.avfr-modal-footer {
    text-align: left; 

    .btn + .btn {
        margin-left: 5px;
        margin-bottom: 0;
    }

    .btn-group .btn + .btn {
        margin-left: -1px;
    }

    .btn-block + .btn-block {
        margin-left: 0;
    }

    input[type="submit"] {
        font-size:$input-font_size;
        height:40px;
        padding: 0 !important;
        outline: none;
        border:none;
        box-shadow: none;

        &:active,
        &:focus {
            outline:none;
            border:none;
        }

    }

}
.avfr-modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

.close {
    position: fixed;
    border:none;
    display:block;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:0;
    overflow: hidden;
    cursor: default !important;
    &:focus {
        outline: 0 !important;
        border: 0;
    }
}

#group.feature-group {
    @include border-radius($br-rad);
    padding: $input-padding;  
    min-width: 192px;
}

#imgCaptcha {
    margin-left: 11px;
    @include border-radius($br-rad);
    box-shadow: none;
    vertical-align: middle;
    margin: 0 10px;
}

#reload {
    box-shadow: none;
    vertical-align: middle;
    cursor: pointer;
}

.avfr-button.btn.btn-default {
    margin-top: 0px;
    width: 110px;
    height: 40px;
}

#avfr-entry-form-results {
    margin: 0 0 0 11px;
    height: 40px;
    background: #dd6d5a;
    @include border-radius($br-rad);
    display: none;
    vertical-align: middle;
    font-size:$input-font_size;
    @include transition(.7s);

    p {
        color: #ffffff;
        padding: 10px;
        margin: 0;
        @include transition(.7s);
        line-height: normal;
    }

}

#captcha {
    height: 30px;
    width: 192px;
}

.dashicons-warning:before {
    margin: 15px 15px 0 0;
}

select {
    @include border-radius($br-rad);
}

.text-core .text-wrap .text-tags .text-tag .text-button {
    padding-top: 2px !important;
    padding-bottom: 4px !important;
    line-height: 1;
}

.avfr-upload-tip {
    padding: 0;
}

.modal-close {
    float: right;
    border: none;
    opacity: 0.4;
    color: #000 !important;
    text-decoration: none;
    line-height: normal;
    text-align: center;
    padding: 0px 3px;
    &:focus {
        outline: 0 !important;
        border: 0;
    }
}