.avfr-modal {
    * {
        @include box-sizing(border-box);
    }
    div#avfr-form-upload, div#avfr-form-desc, div#avfr-form-title, div#avfr-form-group, div#avfr-form-tags{
        margin: $input-margin;
    }

    div#avfr-form-captcha{
        margin: 2px 23px 0 0;
    }
    label {
        display:block;
        margin:15px auto 5px;
        font-weight:bold;
    }
    input[type="text"],
    textarea {
        width: 100%;
        height: 30px;
        padding: 6px 10px;
        font-size: $input-font_size;
        line-height: $input-font_lineheight;
        color: $input-color;
        background-color: $input-bg;
        background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
        border: 1px solid $input-border;
        border-radius: $input-border_radius;
        @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
        @include transition("border-color ease-in-out .15s, box-shadow ease-in-out .15s");

        &:focus {
            border:1px solid $blue !important;
            box-shadow:none;
            outline:none;
        }
    }

    input[type=submit]:disabled,
    button:disabled {
        opacity:0.4;
    }

    textarea {
        min-height: 100px;
    }
}