@mixin button-variant($color, $background, $border) {
    color: $color;
    background-color: $background;
    border-color: $border;
    border-style: solid;

    &:hover,
    &:focus,
    &:active,
    &.active,
    &.current,
    .open .dropdown-toggle {
        color: lighten($color, 90%);
        background-color: darken($background, 55%);
        border-color: darken($background, 65%);
        background-image: none;
        box-shadow: none;
    }

    &:active,
    &.active,
    .open .dropdown-toggle {
        background-image: none;
        box-shadow: none;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled]  {
        &,
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: $background;
        }
    }

    .badge {
        color: $background;
        background-color: #fff;
    }

}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    line-height: $line-height;
    border-radius: $border-radius;
}
