.avfr-modal{
    position:fixed;
    top:0;
  &:before{
    content: ""; 
    display: none;
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0; 
    z-index: 10;
  }
  
  &:target{
     
    &:before{
      display: block;
    }  
    .avfr-modal-dialog{
      @include translate(0, -50%); 
      top: 50%;  
    }
  }
  
}

.avfr-modal-dialog{
  position: fixed; 
  left: 0;
  right: 0;
  top: -100%; 
  z-index: 11;
  @include translate(0, 0);
  @include transition(0.3s);
}

.avfr-modal-content {
    position: relative;
    background-color: $modal-content-bg;
    border: 1px solid $modal-content-border-color;
    @include border-radius($modal-border-radius);
    @include box-shadow(0 3px 9px rgba(0,0,0,.5));
    background-clip: padding-box;
    // Remove focus outline from opened modal
    outline: 0;
}

.avfr-modal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: $modal-backdrop-bg;
    // Fade for backdrop
    &.fade { opacity: 0; }
    &.in { opacity: $modal-backdrop-opacity; }
}

.avfr-modal-header {
    padding: $modal-title_padding-ver $modal-title_padding ;
    border-bottom: 1px solid $modal-header-border-color;
    min-height: ($modal-title_padding + $modal-title-line-height);
    h3 {
        margin: 0;
        line-height: 1.5;
    }
}

.avfr-modal-title {
	margin: 0;
	line-height: $modal-title-line-height;
    clear: none;
}

.avfr-modal-body {
    position: relative;
    padding: $modal-innerpadding;
}
 .text-wrap {
     width: 100% !important;
     #tags-data-list{
        height: 32px;
        width: 100% !important;
        min-height: 32px;
        @include border-radius($modal-border-radius);
        border-color: $input-border;
        padding: 6px 0 26px 8px;
     }
 
 }

.avfr-modal-footer {
    padding-top: $modal-innerpadding;
    text-align: left; // right align buttons

    // Properly space out buttons
    .btn + .btn {
        margin-left: 5px;
        margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
    }
    // but override that for button groups
    .btn-group .btn + .btn {
        margin-left: -1px;
    }
    // and override it for block buttons as well
    .btn-block + .btn-block {
        margin-left: 0;
    }

    input[type="submit"] {
        font-size:$input-font_size;
        outline: none;
        border:none;
        box-shadow: none;
        &:active,
        &:focus {
            outline:none;
            border:none;
        }
    }

}
.avfr-modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

@media (min-width: 768px) {

    .avfr-modal-dialog {
        width: $modal-md;
        margin: 0 auto;
    }
    .avfr-modal-content {
        @include box-shadow(0 5px 15px rgba(0,0,0,.5));
    }

    .avfr-modal-sm { width: $modal-sm; }
}

@media (min-width: 992px) {
    .avfr-modal-lg { width: $modal-lg; }
}

// CLOSE
.close {
    float: right;
    font-size: $close-font_size;
    font-weight: normal;
    line-height: 1.5;
    color: $close-font_color;
    background:transparent;
    opacity: 0.4;
    border: none;
    text-decoration: none;
    padding: 0.5em 1em;
    &:hover,
    &:focus {
        color: $close-font_color;
        background:none;
        text-decoration: none;
        cursor: pointer;
        box-shadow: none;
        outline:none;
        border:none;
        opacity: 0.7;
    }
}

select#group.ideagroup{
    border-radius: 3px;
    padding: $input-padding;  
    min-width: 192px;
}

#imgCaptcha{
    margin-left: 11px;
    border-radius:3px;
    box-shadow: none;
    vertical-align: middle;
    margin-left: 10px;
}

#reload{
    margin-left: 6px;
    box-shadow: none;
    vertical-align: middle;
    cursor: pointer;
}

input.avfr-button.btn.btn-default{
    margin-top: 0px;
    width: 110px;
    height: 40px;
    border-radius: 25px;
}

#avfr-entry-form-results{
    margin: 0 0 0 11px;
    height: 40px;
    background: #dd6d5a;
    border-radius: 3px;
    display: none;
    font-size:$input-font_size;
    @include transition(.7s);
    p {
        color: #ffffff;
        padding: 10px;
        @include transition(.7s);
    }
}

#captcha{
    height: 30px;
    width: 192px;
}

.dashicons-warning:before{
    margin: 15px 15px 0 0;
}