@media(max-width:600px){

    // entrty
    .idea-factory--entry-wrap {
		display: inline-block;
        padding:12px;
        @include box-sizing(border-box);
        .entry-header {
            display:block;
        }
        footer {
            margin-left: 0;
            div {
                padding: 0 10px 0 0;
            }
        }
        .entry-content {
            margin: 10px 0 0 0;
            display: inline-block;
        }
        div.entry-meta {
            margin: 0;
            div {
                padding: 0;
            }
        }
    }
    .idea-factory--hasvoted {
        top:0;

        .idea-factory--totals {
            float:left;
            top:-5px;
        }
    }
    .idea-factory--controls {
        @include clearfix;
        margin-right:none;
    }

    .idea-factory--controls,
    .idea-factory--entry {
        width:100%;
        float:none;
        display: block;
    }

    .idea-factory--layout-submit {
        .idea-factory--submit-left,
        .idea-factory--submit-right {
            width:100%;
            float:none;
            display:block;
            text-align: center;
            margin:0;
        }
        .idea-factory--submit-left {
            margin-bottom:10px;
        }
    }

    .vote-up,
    .vote-down,
    .idea-factory--totals {
        float: left;
        margin-bottom: 0;
    }

    .idea-factory--totals {
        position: relative;
        text-align: center;
        width: 100%;
    }

    .idea-factory--loadmore {
        text-align: center;
    }

    .idea-factory--button {
        text-align: center;
        margin-left:auto;
        margin-right:auto;
    }
}

@media(max-width:400px) {
    .idea-factory--button {
        width:100%;
        margin-left:0;
        margin-right:0;
    }
}